
<table cellspacing="1" cellpadding="1" border="1"
	style="margin-left: auto; margin-right: auto; width: 100px; border: 1px solid #000;">
	<colgroup>
		<col align="center" />
	</colgroup>
	<tbody>
		<tr>
			<td>Emp Id</td>
			<td>Emp Name</td>
			<td>Emp Sal</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Pradeep</td>
			<td>1111</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Reddy</td>
			<td>2222</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Kumar</td>
			<td>3333</td>
		</tr>
		<tr>
			<td>4</td>
			<td>veera</td>
			<td>4444</td> 
		</tr>
		<tr>
			<td>5</td>
			<td>ambati</td>
			<td>5555</td> 
		</tr>
	</tbody>
</table>